/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*utility*/

.fas.icon-gray{
    color: #6B7376;
}

/* background */
#background{
    height: 100vh;
    background-color: #DCDBD3;
}

#top{
    height: 150px;
    background-color: #009688;
}

/* user-space */

#user-space{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    width: 80%;
    background-color: white;
}

/* user tag */

.user-tag{
    height: 90px;
    background-color: #EAEAEA;
}

.image-circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.alert .image-circle{
    background-color: white;
}

/* icone */
.fas{
    color: #B1B1B1;
    font-size: 20px;
    padding: 5px;
}

.alert .image-circle .fas{
    color: #8EDAFC;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* chat */

#chat{
    background-image:url("../img/mine.jpg");
}

/* notifiche / contatti */

.alert{

    background-color: #8EDAFC;
}

.contact-list{
    height: 700px;
    overflow: scroll;
}

/* chat input */

#chat-bar{
    position: absolute;
    bottom: 0;
}

#chat{
    max-height: 100%;
    position: relative;
}

/* messaggi */

.message{
    font-size: 18px;
    width: 200px;
    background-color: #D5F9BA;
    padding: 20px;
    border-radius: 10px;
}